# /backend/requirements.txt

# --- Core API Framework ---
fastapi
gunicorn             # O 'manager' do servidor de produção
uvicorn[standard]    # O 'worker' ASGI que o Gunicorn usa
pydantic
pydantic-settings
pydantic[email]    # Para validação de EmailStr

# --- Database (SQLAlchemy) ---
sqlalchemy==2.0.41
psycopg2-binary    # Driver do PostgreSQL (para produção no Railway/Supabase)
# (Não listamos o 'sqlite3', pois é nativo do Python)

# --- Autenticação & Segurança ---
python-jose[cryptography]  # Para tokens JWT
bcrypt                   # Para hash de senhas

# --- Utilitários ---
python-dotenv            # Para carregar o .env
email-validator
httpx
fastapi-mail>=1.5.8
jinja2
pandas
openpyxl
python-multipart